@model WooxTravel.Entities.Destination
@{
    ViewBag.Title = "CreateDestination";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Destinasyon İşlemleri</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Ülke Adı</label>
                            @Html.TextBoxFor(s => s.Country, new { @class = "form-control" })
                            <br />
                            <label>Şehir Adı</label>
                            @Html.TextBoxFor(s => s.City, new { @class = "form-control" })
                            <br />
                            <label>Tur Başlığı</label>
                            @Html.TextBoxFor(s => s.Title, new { @class = "form-control" })
                            <br />
                            <label>Gün-Gece</label>
                            @Html.TextBoxFor(s => s.DayNight, new { @class = "form-control" })
                            <br />
                            <label>Kapak Görseli URL</label>
                            @Html.TextBoxFor(s => s.ImageUrl, new { @class = "form-control" })
                            <br />
                            <label>Tur Fiyatı</label>
                            @Html.TextBoxFor(s => s.Price, new { @class = "form-control" })
                            <br />
                            <label>Açıklama</label>
                            @Html.TextAreaFor(s => s.Description, new { @class = "form-control" })
                            <br />
                            <button class="btn btn-primary" id="btn1">Tur Rotasını Oluştur</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $('#btn1').click(function (event) {
        event.preventDefault();

        Swal.fire({
            title: 'Tebrikler!',
            text: 'Yeni Tur Başarıyla Oluşturuldu!',
            icon: 'success',
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                $('form').submit();
            }         
        });
    });
</script>





