@model WooxTravel.Entities.Admin
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <div class="alert alert-primary"><h3>Yeni Kullanıcı Kayıt Sayfası</h3></div>
    <label>Adınız</label>
    @Html.TextBoxFor(s=>s.Name, new {@class="form-control"})
    <br />
    <label>Soyadınız</label>
    @Html.TextBoxFor(s=>s.Surname, new {@class="form-control"})
    <br />
    <label>Email Adresiniz</label>
    @Html.TextBoxFor(s=>s.Email, new {@class="form-control"})
    <br />
    <label>Kullanıcı Adınız</label>
    @Html.TextBoxFor(s=>s.Username, new {@class="form-control"})
    <br />
    <label>Şifreniz</label>
    @Html.PasswordFor(s=>s.Password, new {@class="form-control"})
    <br />
</div>
